.main-content {
  width: 900px;
  display: flex;
  justify-content: between;
  align-items: center;
  gap: 160px;
  margin: auto;
}

/* empty star */
.star::before {
  content: "\2606";
  font-size: 100px;
}

/* filled star with tomato color */
.star-rated::before {
  content: "\2605";
  font-size: 100px;
  color: tomato;
}

span {
  cursor: pointer;
}
